<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<display-name>Token Vending Machine</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RegisterDeviceServlet</servlet-name>
		<servlet-class>com.amazonaws.tvm.anonymous.RegisterDeviceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterDeviceServlet</servlet-name>
		<url-pattern>/registerdevice/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetTokenServlet</display-name>
		<servlet-name>GetTokenServlet</servlet-name>
		<servlet-class>com.amazonaws.tvm.GetTokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTokenServlet</servlet-name>
		<url-pattern>/gettoken/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InitServlet</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.amazonaws.tvm.anonymous.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>